@model Backend_Project_Allup.Models.Contact

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure?</h3>
<div>
    <h4>ContactUS</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotlineNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotlineNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportEmail)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
