@model AboutVM
@{
    ViewData["Title"] = "Index";
}

<!--====== About Part Start ======-->

<section class="about-page pt-20">
    <div class="container-fluid custom-container">
        <div class="row">

            <div class="col-lg-6">
                <div class="about-image mt-30">
                    <img src="~/assets/images/@Model.About.ImageUrl" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content mt-30">
                    <h2 class="title">@Model.About.Title</h2>
                    <p>@Model.About.Desc</p>
                </div>
            </div>

        </div> <!-- row -->
        <div class="about-items pt-20">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">@Model.AboutDesc.Title</h4>
                        <p>@Model.AboutDesc.Text</p>
                    </div> <!-- about item -->
                </div>
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">@Model.AboutDesc.Title</h4>
                        <p>@Model.AboutDesc.Text</p>
                    </div> <!-- about item -->
                </div>
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">@Model.AboutDesc.Title</h4>
                        <p>@Model.AboutDesc.Text</p>
                    </div> <!-- about item -->
                </div>
            </div> <!-- row -->
        </div>  <!-- about items -->
    </div> <!-- container -->
</section>

<!--====== About Part Ends ======-->
<!--====== Brand Part Start ======-->

<div class="brand-area pt-80">
    <div class="container-fluid custom-container">
        <div class="row brand-active">
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="assets/images/brand/brand-1.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="assets/images/brand/brand-2.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="assets/images/brand/brand-3.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="assets/images/brand/brand-5.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="assets/images/brand/brand-6.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Brand Part Ends ======-->
@await Component.InvokeAsync("Service")

<!--====== Newsletter Part Start ======-->

<section class="newsletter-area pt-100 pb-100 bg_cover" style="background-image: url(assets/images/bg-newletter.jpg)">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-8">
                <div class="newsletter-content">
                    <h2 class="newsletter-title">Subscribe our newsletter</h2>
                    <p>allup is a powerful eCommerce HTML Template</p>

                    <div class="newsletter-forn">
                        <form action="#">
                            <input type="text" placeholder="Your Email address">
                            <button class="main-btn">Subscribe</button>
                        </form>
                    </div>
                </div> <!-- newsletter content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
