@model AboutVM
@{
    ViewData["Title"] = "Index";
}

<!--====== About Part Start ======-->

<section class="about-page pt-20">
    <div class="container-fluid custom-container">
        <div class="row">

            <div class="col-lg-6">
                <div class="about-image mt-30">
                    <img src="~/assets/images/@Model.About.ImageUrl" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content mt-30">
                    <h2 class="title">@Model.About.Title</h2>
                    <p>@Model.About.Desc</p>
                </div>
            </div>

        </div> <!-- row -->
        <div class="about-items pt-20">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">@Model.AboutDesc.Title</h4>
                        <p>@Model.AboutDesc.Text</p>
                    </div> <!-- about item -->
                </div>
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">@Model.AboutDesc.Title</h4>
                        <p>@Model.AboutDesc.Text</p>
                    </div> <!-- about item -->
                </div>
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">@Model.AboutDesc.Title</h4>
                        <p>@Model.AboutDesc.Text</p>
                    </div> <!-- about item -->
                </div>
            </div> <!-- row -->
        </div>  <!-- about items -->
    </div> <!-- container -->
</section>

<!--====== About Part Ends ======-->
<!--====== Brand Part Start ======-->

@await Component.InvokeAsync("BrandSlider")
<!--====== Brand Part Ends ======-->

@await Component.InvokeAsync("Service")

<!--====== Newsletter Part Start ======-->

@await Component.InvokeAsync("Subscribe")

